.custom-form {
    width: 120%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .custom-form {
      max-width: 90%; /* Make the form wider on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .custom-form {
      max-width: 100%; /* Full width on very small screens */
    }
  }